body{
    background-color: whitesmoke;
}
.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35px;
    padding: 10px;
    
    
}
.logo{
    height: 150px;
    width: 300px;
}
.Entrada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    
}