
body{
  background-color: rgb(3, 15, 37);
  color:aliceblue;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  padding: 10px;
  width: 300px;
  height: 800px;
  background-color: aliceblue;
  color: black;
  border-radius:5px;
}
.logo{
  height: 250px;
  width: 250px;
}
.Entrada{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 20px;
  
}
.homeText{
  display:flex;
  flex-direction: column;
  width: 90%;
  font-size: 30px;
  padding: 2%;
}
nav {
  margin-left: -30px;
}
.textNav{
  font-size: 30px;
}
.list{
  list-style-type: none;
}
