:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('./assets/bg3.jpg');
  background-size:cover;
  background-attachment: fixed;
  color:black;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}



h1 {
  font-size: 3.5rem;
}
h2{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.5rem;
  margin-top: 90%;
}
/* ============================MOBILE=====================================*/
@media screen and (max-width: 768px){
  p{
    font-size: 1.5rem;
  }
  h2{
    font-size: 2rem;
  }
  
  footer{
    font-size: 1rem;
  }
}