
  
.logo{
  height: 300px;
  width: 300px;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.9);
  text-align: center;
}


.homeText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 5%;
  margin-left: 470px;
  /* background-color: rgba(67, 67, 67, 0.347); */
  
}

.textNav{
  display: flex;
  font-size: 40px;
  color:white;
  justify-content: center;
  
}
.list{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 20px;
  list-style-type: none;
}
.navBox {
  background-color: rgb(5, 5, 30);
  width:20%;
  height: 80%;
  padding: 10px;
  margin:30px;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
}

.textNav:hover {
  color: rgb(0, 90, 139); /* Color del enlace al pasar el cursor */
  transform: scale(1.1); /* Aumenta el tamaño del enlace al pasar el cursor */
}
.footNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 25px;
}
.social-icon{
  
  height: 40px;
  width: 40px;
}
.social-icon:hover{
  transform: scale(1.1);
}
.guía{
  color:black;
  margin-left: 500px;
}

