
.menu-hamburguesa {
  display: none;
  cursor: pointer;
}

.menu-hamburguesa div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.logo{
  height: 300px;
  width: 300px;
}
.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  text-shadow:  2px 2px 4px rgba(0, 0, 0, 0.9);
  text-align: center;
}
.menu-hamburguesa {
  display: none;
  cursor: pointer;
}
.menu-hamburguesa div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.homeText{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 5%;
  margin-left: 470px;
  /* background-color: rgba(67, 67, 67, 0.347); */
  
}

.textNav{
  display: flex;
  font-size: 40px;
  color:white;
  justify-content: center;
  
}
.list{
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  list-style-type: none;
}
.navBox {
  background-color: rgb(5, 5, 30);
  width:20%;
  height: 90%;
  padding: 10px;
  margin:30px;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
}

.textNav:hover {
  color: rgb(0, 90, 139); /* Color del enlace al pasar el cursor */
  transform: scale(1.1); /* Aumenta el tamaño del enlace al pasar el cursor */
}
.footNav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:15px;
  margin-top: 25px;
}
.social-icon{
  margin-top: 20%;
  height: 60px;
  width: 60px;
}
.social-icon:hover{
  transform: scale(1.1);
}
.cotiza{
  
  height: 50px;
  width: 250px;
  padding: 5% 0% 5% 11%;
  border-radius: 20px;
  /* margin-left: 30%; */
  
  font-size: 35px;
  border:none;
  font-weight: bold;
  background-color: aliceblue;
  color: black;
}
.cotiza:hover{
  transform: scale(1.1);
  background-color: rgb(23, 173, 227);
  cursor: pointer;
  border:none;
}

/* ============================MOBILE=====================================*/

@media (max-width: 768px) {
  .menu-hamburguesa {
      display: block;
      margin-top:-16px;
      
  }
  h2 {
    font-size: 2rem;
    margin-top: 40px;
}
  .nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 0;
      
      width: 150%;
      
  }
  .navBox{
    background-color: transparent;
    width: 50%;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
    position: fixed;
  }
 

  .nav.active {
      display: flex;
      background-color: rgb(5, 5, 30, 0.8);
  }
  .list{
    margin-left: 34%;
    gap: 10px;
    list-style-type: none;
  }


  .menu-hamburguesa .change.bar1 {
      transform: rotate(-45deg) translate(-9px, 6px);
      background-color: rgb(5, 5, 30,);
  }

  .menu-hamburguesa .change.bar2 {
      opacity: 0;
      background-color: rgb(5, 5, 30,);
  }

  .menu-hamburguesa .change.bar3 {
      transform: rotate(45deg) translate(-8px, -8px);
      background-color: rgb(5, 5, 30,);
  }
  .banner{
    display: none;
  }
  .textNav{
    font-size: 20px;
  }
  .cotiza{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 100px;
    height: 20px;
  }
  .social-icon{
    margin-top: 20%;
    height: 25px;
    width: 25px;
  }
  .footNav{
    margin-left: 35%;
  }
}
