.cuaderno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .imgR{
    display: flex;
    align-items: center;
    width: 700px;
    height: 900px;
    margin-top:5%;
  }
 
.guía{
    display: flex;
    justify-content: baseline;
    align-items: center;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    
  }
  .guía:hover{
    color: rgb(0, 90, 139); /* Color del enlace al pasar el cursor */
  transform: scale(1.1); /* Aumenta el tamaño del enlace al pasar el cursor */
  }
  
   /* ============================MOBILE=====================================*/
@media screen and (max-width: 768px){

  .guía{
    font-size: 1rem;
  }
  .cuaderno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 .imgR{
  width: 300px;
    height: 400px;
    margin-top:25%;
}

}